<div>
  <form [formGroup]="form" class="card">
    <h1>TakeOff test</h1>

    <mat-form-field class="mat-form">
      <mat-label>User name</mat-label>
      <div class="form-input">
        <input matInput placeholder="Source text" formControlName="userName" class="userName">
      </div>
    </mat-form-field>

    <mat-form-field class="mat-form">
      <mat-label>Enter your password</mat-label>
      <div class="form-input">
        <input matInput type="password" class="password" placeholder="Password" formControlName="password">
      </div>
    </mat-form-field>

    <div *ngIf="userNotFound" class="validation">
      <p>Sorry authorization was failed. Please check input values and try again</p>
    </div>

    <div class="form-btn">
      <button mat-raised-button color="primary"
              class="sign-in"
              [disabled]="form.invalid || form.untouched"
              (click)="onAuthClick()">
        Sign-in
      </button>
    </div>
  </form>
</div>
